

@page "/authentication/register"

@using Microsoft.AspNetCore.Identity
@using DarlineBeverly.Data
@using Microsoft.AspNetCore.Components.Forms
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<h3>Register Component</h3>

@*
    This div will display server-side errors to the user.
*@
@if (errors.Count > 0)
{
    <div class="alert alert-danger mt-3" role="alert">
        <ul class="list-unstyled mb-0">
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<EditForm Model="registerModel" method="Post" FormName="registerForm" OnValidSubmit="Register">
    <DataAnnotationsValidator />
    
    <div class="form-group mt-2">
      <label class="form-label" for="email"> Enter Email Address</label>
      <InputText @bind-Value="registerModel.Email" class="form-control" />    
      <ValidationMessage For="()=>registerModel.Email" />
    </div>

    <div class="form-group mt-2">
      <label class="form-label" for="password"> Enter Password</label>
        <InputText @bind-Value="registerModel.Password" type="password" class="form-control" />
        <ValidationMessage For="()=>registerModel.Password" />
    </div>

    <div class="form-group mt-2">
      <label class="form-label" for="confirmPassword"> Confirm Password</label>
        <InputText @bind-Value="registerModel.ConfirmPassword" type="password" class="form-control" />
        <ValidationMessage For="()=>registerModel.ConfirmPassword" />
    </div>

    <div>
        <button class="btn btn-primary mt-3" type="submit">Register</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm(FormName = "registerForm")]
    public Register registerModel { get; set; } = new Register();
    
    // A list to hold and display registration errors.
    private List<string> errors = new List<string>();

    async Task Register()
    {
        // Clear any previous errors before a new attempt.
        errors.Clear();

        var user = new IdentityUser { UserName = registerModel.Email, Email = registerModel.Email };
        var result = await UserManager.CreateAsync(user, registerModel.Password);

        if(result.Succeeded)
        {
            NavigationManager.NavigateTo("authentication/login");
        }
        else
        {
            // Add server-side errors to our list to be displayed to the user.
            foreach(var error in result.Errors)
            {
                errors.Add(error.Description);
            }
        }
    }
}
