<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DarlineBeverly.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="styles.css">

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
>
    <HeadOutlet />
</head>

<body>
    <Routes />
     <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
   
    <script src="js/reactGallery.js"></script>
    
    <script src="js/webDesignGallery.js?v=1"></script>


      <link href="css/webDesignGallery.css" rel="stylesheet" />
      <link rel="stylesheet" href="styles.css">
      

    <script src="_framework/blazor.web.js"></script>
   

</body>

</html>
